.photos{
    display: flex;
    /* justify-self: space-between; */
    align-items: center;
}
.photos img{
    width: 100%; 
    max-width: 200px;
    height: auto; 
    object-fit: cover; 
    margin: 10px;
}